.cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 20vh;
    background-color: black;
    color: aliceblue;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: auto;
    background-color: deeppink;
}
.container .central{
    flex-grow:5;
}

.container .l-e{
    flex-grow: 1;
    background-color: blue;
    text-align: center;
    /* background-image:url("../img/banner-lateral-1.png") ; */
    background-size: cover;
}
.container .l-d{
    flex-grow: 1;
    background-color: aqua;
    text-align: center;
    /* background-image:url("../img/banner-lateral-2.png") ; */
    background-size: cover;
}